$textAlign: (
  "left": "left",
  "center": "center",
  "right": "right",
);

$flexJustify: (
  "sp-between": "space-between",
  "sp-around": "space-around",
  "sp-evenly": "space-evenly",
  "left": "left",
  "center": "center",
  "right": "right",
  "f-start": "flex-start",
  "f-end": "flex-end",
);

$flexAlignItem: (
  "f-start": "flex-start",
  "f-end": "flex-end",
  "start": "start",
  "end": "end",
  "baseline": "baseline",
  "center": "center",
);
